.header {
  color: $brown-color;
  background-color: $white;

  nav {
    width: 100%;

    .header-menu-list li {
      display: inline-block;
      line-height: 80px;

      a {
        @include a;
      }
    }
  }
}

nav .header-menu {
  display: flex;

  .logo {
    flex: 2;

    div {
      width: 260px;
      margin: auto;
      margin-left: 70px;
      padding-top: 15px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .header-menu-list {
    flex: 5;
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;

    li {
      margin: 0 15px;
    }
  }

  .toggle {
    display: none;
  }
}

@media (max-width: 1024px) {
  nav .header-menu {
    display: block;

    .logo {
      width: 280px;
      margin: auto;
    }

    .header-menu-list {
      display: flex;
      width: 85%;
      max-width: 700px;
      margin: auto;
      justify-content: space-between;

      li {
        margin: 0 5px;
      }
    }
  }
}

@media (max-width: 650px) {
  nav div.header-menu {
    display: block;

    div.logo {
      width: 240px;
      div {
        width: 180px;
        padding-bottom: 40px;
      }
    }
  }

  .header-menu-list {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: $white;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 2;

    li {
      display: block;
      margin: 50px 0;
      line-height: 30px;

      a {
        font-size: 16px;
      }

      a:hover,
      a.active {
        background: none;
        color: $theme-color;
      }
    }
  }

  .show-menu {
    left: 0;
  }

  .toggle {
    display: block;
    font-size: 22px;
    margin-left: 30px;
    margin-top: -75px;
    margin-bottom: 20px;
  }
}
