@import url('http://fonts.cdnfonts.com/css/report');
$color-text: #11114E;
$brown-color: #505353;
$theme-color: #B2D235;
$dark-green: #72852a;
$white: #FFFFFF;
$w3-background-color: #3F6185;
$red-color: #DC594C;
$php-background-color: #556598;
$css-background-color: #24ABE2;
$rails-background-color: #E14E40;
$java-background-color: #1B75BB;

$font-poppins: "Poppins", sans-serif;
$font-utm: 'Report', sans-serif;

*  {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;   
}

@mixin button {
    color: $white;
    font-style: normal;
    background-color: $theme-color;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px 0px #6F8710 inset;
  
    &:hover {
       background-color: $dark-green;
    }
}
  
@mixin a {
    font-size: 14px;
    padding: 5px 13px;
    border-radius: 3px;
    text-decoration: none;
    color: $brown-color;
    font-weight: bold;
  
    &:active,
    &:hover {
        border-radius: 15px;
        background: $theme-color;
        transition: .2s;
        color: $white;
    }
}
