.why-hapo-learn {
    background-image: url('https://s3-alpha-sig.figma.com/img/c558/56f1/074a76c0613b7249fa2847b58b2160cd?Expires=1647820800&Signature=D4h8p4Fp1bXnsCEMB20API6aUomP8uE6v2u9xM-Sfj0tAH69oIBZES95JuT8u2y80aupUbcEcNokObgzQj~ifbT6Ny-TLlX0NfVnJ1BD8zVYW90w52fpwevvjMOcGiQNkw1yqtzoCxF6orfOWbm-W2MBEoaHTNQ0DhztfWjLN1HSebcQcKtWYuaulfYkuL2-BZZNyl5wNDqO~nuosdHsB3ILLOhCwDFy1CAPGgBYWWcBKwal7Aw8AN1v~6utg4gYqdv1gbcE2fIWG1pz~6OM4JaI8rX-oDqd7yVaBcWFfxq1rnwmFeqHp6ktl4rX0BCu4Uo5pi73TM0YZy-s8SamBQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
    margin-top: 80px;
    font-family: $font-utm;
    color: $white;
}

@media (max-width: 2000px) {
    .why-hapo-learn-top {
        .top-img {
            width: 400px;

            img {
                margin-top: -135px;
                margin-left: -95px;
                width: 100%;
                transform: rotate(17.12deg);
            }
        }

        .active {
            display: none;
        }
    }

    .content {
        display: flex;

        .why-hapo-learn-list {
            flex: 3;

            .container {
                width: 430px;
                float: right;
                padding: 0;

                .title {
                    font-size: 55px;
                    font-weight: bold;
                }
            }
        }     

        .img {
            width: 100%;
            flex: 4;
            margin-top: -250px;

            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1300px) {
    .why-hapo-learn-top {
        .top-img {
            width: 360px;

            img {
                margin-top: -125px;
                margin-left: -80px;
            }
        }
    }

    .content {
        .why-hapo-learn-list {
            .container {
                width: 380px;

                .title {
                    font-size: 50px;
                }

                p {
                    font-size: 14px;
                }
            }
        }

        .img {
            margin-top: -200px;
        } 
    }
}

@media (max-width: 1024px) {
    .why-hapo-learn-top {
        display: flex;

        .top-img {
            width: 300px;

            img {
                margin-top: -105px;
                margin-left: -65px;
            }
        }

        .active {
            display: block;
            font-size: 42px;
            font-weight: bold;
            margin-top: 50px;
        }
    }

    .content {
        .why-hapo-learn-list {
            .container {
                .title {
                    display: none;
                }
            }
        }

        .img {
            flex: 3;
            margin-top: -50px;
        }
    }
}

@media (max-width: 768px) {
    .why-hapo-learn-top {
        .top-img {
            width: 250px;

            img {
                margin-top: -90px;
                margin-left: -55px;
            }
        }
    }

    .content {
        .why-hapo-learn-list {
            .container {
                width: 310px;

                p {
                    font-size: 13px;
                }
            }
        }

        .img {
            margin-top: -25px;
        }
    }
}

@media (max-width: 650px) {
    .why-hapo-learn-top {
        .active {
            width: 300px;
            margin-top: 5px;
            margin-left: -50px;
        }
    }

    .content {
        display: block;

        .why-hapo-learn-list {
            .container {
                width: unset;
                float: unset;
                text-align: center;
                p {
                    font-size: 14px;
                }
            }
        }

        .img {
            width: 400px;
            margin: auto;
        }
    }
}