.why-hapo-learn {
  position: relative;
  background-image: url("https://scontent.fhan2-2.fna.fbcdn.net/v/t1.15752-9/275312003_515162936787208_5903099052690634795_n.png?_nc_cat=106&ccb=1-5&_nc_sid=ae9488&_nc_ohc=RXevyYDMsQUAX9HCTbn&_nc_ht=scontent.fhan2-2.fna&oh=03_AVI7gvcchACHxy37igOa4GH5vnjkl55BdsLfF1F6JUt7iQ&oe=625FADF0");
  margin-top: 100px;
  font-family: $font-utm;
  color: $white;
}

.why-hapo-learn-top {
  position: absolute;
  .top-img {
    width: 400px;

    img {
      margin-top: -215px;
      width: 100%;
    }
  }

  .active {
    display: none;
  }
}

.content {
  display: flex;
  align-items: center;
  height: 700px;

  .why-hapo-learn-list {
    flex: 5;
  }

  .container {
    width: 500px;
    float: right;
    padding: 0;
    margin-top: 200px;

    .title {
      font-size: 6rem;
      font-weight: bold;
      color: $white;
    }

    p {
      font-size: 1.8rem;
      letter-spacing: -0.05em;
      padding-top: 20px;
      color: rgb(196, 194, 193);
    }

    i {
      font-size: 1.9rem;
      padding-right: 5px;
      color: rgb(242, 242, 242);
    }
  }

  .img {
    flex: 6;
    width: 100%;

    img {
      width: 100%;
    }
  }
}

@media (max-width: 1300px) {
  .why-hapo-learn-top {
    .top-img {
      width: 370px;
  
      img {
        margin-top: -200px;
      }
    }
  }
  
  .content {
    height: 600px;

    .container {
      width: 450px;
      margin-top: 180px;
  
      .title {
        font-size: 5.2rem;
      }
  
      p {
        font-size: 1.5rem;
        padding-top: 10px;
      }
    }
  
    .img {
      flex: 5;
    }
  }
}

@media (max-width: 1024px) {
  .why-hapo-learn-top {
    display: flex;

    .top-img {
      width: 280px;

      img {
        margin-top: -152px;
      }
    }

    .active {
      display: block;
      font-size: 5rem;
      font-weight: bold;
      margin-top: 50px;
    }
  }

  .content {
    height: 420px;

    .container {
      width: 400px;

      .title {
        display: none;
      }

      p {
        font-size: 1.4rem;
        padding-top: 7px;
      }
    }

    .img {
      flex: 4;
      margin-top: 180px;
    }
  }
}

@media (max-width: 768px) {
  .why-hapo-learn-top {
    .top-img {
      width: 260px;

      img {
        margin-top: -142px;
      }
    }

    .active {
      font-size: 4.2rem;
    }
  }

  .content {
    height: 370px;

    .container {
      width: 350px;
      margin-top: 150px;

      .title {
        font-size: 4rem;
      }

      p {
        font-size: 1.3rem;
        padding-top: 5px;
      }
    }

    .img {
      margin-top: 150px;
    }
  }
}

@media (max-width: 650px) {
  .why-hapo-learn-top {
    .top-img {
      width: 240px;

      img {
        margin-top: -130px;
      }
    }

    .active {
      width: 300px;
      margin-top: 5px;
      margin-left: -50px;
    }
  }

  .content {
      flex-direction: column;
      height: 600px;

    .container {
      text-align: center;

      i {
        font-size: 1.8rem;
      }
    }

    .img {
      width: 380px;
      margin: auto;
      margin-top: -40px;
    }
  }
}
