.hapo-learn-banner {
  background-image: url("https://scontent.fhan2-3.fna.fbcdn.net/v/t1.15752-9/273808183_699100118119024_6518370349122794635_n.png?_nc_cat=109&ccb=1-5&_nc_sid=ae9488&_nc_ohc=dzK-5HX1O-4AX8vLNvh&_nc_ht=scontent.fhan2-3.fna&oh=03_AVKIPfJP8eXv3dq9rGg2teIM49674YdYEr1WW3CDN3Y1ng&oe=625F4D52");
  font-family: $font-utm;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.banner-content {
  .title {
    color: $color-text;
    font-weight: normal;
  }

  div {
    display: flex;

    > p {
      font-weight: bolder;
      color: $color-text;
    }
  }
}

.hapo-learn-banner-bottom {
  display: block;
  height: 120px;
  background-image: linear-gradient(#ffffff, rgb(219, 216, 216));
}

.banner-content {
  padding: 120px 70px;

  .title {
    font-size: 3.2vw;
    line-height: 30px;
  }

  .subtitle {
    > p {
      font-size: 3.5vw;
    }

    .img-hapo-icon {
      width: 4vw;
      height: 4vw;
    }
  }

  .description {
    color: $brown-color;
    font-size: 1.8rem;
  }

  .banner-btn {
    height: 70px;
    width: 360px;
    margin-top: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    box-shadow: 0px 4px 4px 0px #6f8710 inset;
    @include button;
  }
}

@media (max-width: 1024px) {
  .banner-content {
    .banner-btn {
      height: 65px;
      width: 330px;
      font-size: 2.3rem;
      margin-top: 25px;
    }
  }
}

@media (max-width: 950px) {
  .banner-content {
    padding: 80px 30px;

    .banner-btn {
      height: 60px;
      width: 300px;
      font-size: 2.1rem;
    }
  }

  .hapo-learn-banner-bottom {
    height: 100px;
  }
}

@media (max-width: 768px) {
  .banner-content {
    .banner-btn {
      padding: 7px 40px;
      font-size: 18px;
    }
  }
}

@media (max-width: 650px) {
  .hapo-learn-banner {
    display: flex;
    justify-content: center;
    position: relative;
    height: 290px;
  }

  div.banner-content {
    position: absolute;
    padding: 20px;
    top: 300px;
    width: 360px;
    margin: 0 auto;

    .title {
      font-size: 2.7rem;
      letter-spacing: -0.05em;
      margin: 0;
    }

    .subtitle {
      > p {
        font-size: 3rem;
        margin: 0;
      }

      .img-hapo-icon {
        width: 40px;
        height: 40px;
      }
    }

    .banner-btn {
      padding: 8px 45px;
      font-size: 1.9rem;
      letter-spacing: -0.05em;
    }
  }

  .hapo-learn-banner-bottom {
    margin-top: 230px;
    height: 80px;
  }
}
