.become-member {
  background-image: url('https://res.cloudinary.com/derrfxjxx/image/upload/v1647077354/image_become_xyror5.png');
  font-family: $font-utm;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;

  .title {
    color: $white;
    font-weight: bold;
    font-size: 5.4rem;
    text-align: center;
    line-height: 80px;
  }

  .become-member-btn {
    @include button;
    font-size: 2rem;
    color: #90AB26;
    -webkit-text-stroke: 0.6px #9e9e22;
    background-color: $white;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    margin: auto;
    margin-top: 25px;
    height: 72px;
    width: 372px;

    &:hover {
      background-color: $dark-green;
      color: white;
      -webkit-text-stroke: 0.6px $white;
    }
  }
}

@media (max-width: 1024px) {
  .become-member {
    height: 300px;
  
    .title {
      font-size: 2.8rem;
      line-height: 50px;
    }
  
    .become-member-btn {
      font-size: 1.4rem;
      margin-top: 20px;
      height: 50px;
      width: 250px;
      -webkit-text-stroke: 0.4px #9e9e22;
    }
  }
}

@media (max-width: 650px) {
  .become-member {
    height: 250px;
  
    .title {
      font-size: 2rem;
      line-height: 40px;
    }
  
    .become-member-btn {
      font-size: 1rem;
      margin-top: 12px;
      height: 42px;
      width: 210px;
    }
  }
}
