.tab {
  background-color: #E9E7E7;

  .tab-content {
    width: 85%;
    margin: auto;
  }
}

.course-details,
.lesson-details {
  margin-top: 20px;
  width: 100%;

  .container {
    display: flex;
    width: 90%;
    margin: auto;

    .course-details-left {
      padding: 0;
    }
  }

  .img {
    width: 100%;
    height: 300px;
    background-color: #3F6185;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.description {
  color: $brown-color;
  font-family: $font-utm;

  .title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
  }
}

.tag {
  display: flex;
  align-items: center;

  .tag-title {
    font-weight: bold;
    color: $brown-color;
    margin: 0;
    margin-right: 20px;
  }

  a {
    text-decoration: none;
    background: #F2F2F2;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 5px;
    margin-right: 10px;
  }
}

.tab-list {
  border-bottom: 4px solid #E2E0E0;
  padding: 15px 0;

  .tab-btn {
    font-weight: bold;
    text-decoration: none;
    margin-right: 40px;
    color: $brown-color;
    padding: 16px 5px;
  }

  .active {
    color: $theme-color;
    border-bottom: 4px solid $theme-color;
  }
}

.lesson_content {
  margin: 20px 0;
  border-radius: 20px;

  .tab {
    display: flex;
    background-color: unset;
    margin-bottom: 20px;
    border-bottom: 1px solid #E2E0E0;

    a {
      margin-right: 20px;
    }
  }

  .tab-lesson-head {
    border-bottom: 3px solid #DADADA;
    padding-bottom: 30px;
    padding-top: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;

      input {
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        border-radius: 5px;
        outline: none;
        height: 40px;
        width: 260px;
        text-indent: 15px;
      }

      i.fa-magnifying-glass {
        margin-left: -30px;
        font-size: 20px;
        color: $brown-color;
      }
  
      button {
        height: 40px;
        width: 100px;
        margin-left: 20px;
        @include button;
        border-radius: 5px;
      }
    }

    button {
      height: 40px;
      width: 200px;
      font-size: 1rem;
      box-shadow: inset 0px 1.5px 2px #6F8710;
      @include button;
    }
  }

  .lessons_list,
  .program-list {
    border-bottom: 1px solid #E2E0E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .lesson_desc {
      margin: 10px 0;
      color: $brown-color;
      font-family: $font-utm;
      width: 80%;
    }

    .lesson-btn,
    .program-btn {
      text-decoration: none;
      width: 90px;
      height: 30px;
      box-shadow: inset 0px 1.5px 2px #6F8710;
      @include button;
    }
  }

  .program, 
  .teacher {
    .title {
      color: $brown-color;
      font-family: $font-utm;
      font-weight: bold;
      font-size: 24px;
    }
  }
}

.teacher-list {
  font-family: $font-utm;
  color: $brown-color;

  .info {
    display: flex;
    align-items: center;

    .detail {
      margin-left: 15px;
    }

    .name {
      font-weight: bold;
      font-size: 20px;
      margin: 0;
    }

    .experiences {
      font-size: 14px;
      line-height: 17px;
      color: #BDB9B9;
      margin: 0;
    }
  }

  .avartar {
    width: 110px;
    height: 110px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 100px;
    }
  }

  .contact {
    margin-top: 5px;

    i {
      border: 0.5px solid #1976D2;
      border-radius: 50px;
      margin-right: 10px;
      padding: 5px 8px;
    }

    i.fa-google-plus-g,
    i.fa-slack {
      border: 0.5px solid #F44336;
      color: #F44336;
    }

    i.fa-google-plus-g {
      padding: 5px 3px;
    }

    i.fa-slack {
      padding: 5px 6px;
    }
  }

  .desc {
    margin-top: 20px;
  }
}

.program-list-item {
  display: flex;
  align-items: center;

  .icon {
    display: flex;
    width: 80px;
  }

  p {
    color: #BDB9B9;
    margin: 0;
    margin-left: 10px;
  }

  .program-name {
    color: $brown-color;
    font-size: 25px;
    font-weight: bold;
  }
}

.desc-course,
.couse-statistic,
.other-course-card {
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  padding: 20px 10px;
  padding-bottom: 10px;
  font-family: $font-utm;
  margin-bottom: 20px;
}

.desc-course {
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: -0.02em;
    color: $brown-color;
    border-bottom: 1px solid $theme-color;
  }
}

.couse-statistic {
  .field {
    color: $brown-color;
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #D1D1D1;;

    .number {
      flex: 1;
      margin: 0;
      font-weight: bold;
    }
  }

  .field-name {
    display: flex;
    align-items: center;
    flex: 1;

    .name {
      margin: 0;
    }

    i {
      font-size: 18px;
      margin-right: 10px;
    }
  }

  .field:last-child {
    border-bottom: unset;
  }
}

.other-course-card {
  padding: 0;

  .title {
    background: #B2D235;
    border-bottom: 1px solid #DEDEDE;
    color: $white;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 15px;
  }  

  .other-course {
    padding: 15px 10px;
    border-bottom: 1px solid #DEDEDE;
    display: flex;
    color: $brown-color;
    font-family: $font-utm;

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 16px;
      -webkit-line-clamp: 1;
      height: 16px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      margin: 0;
    }
  }

  .all-course-btn {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 35px;
    text-decoration: none;
    @include button;
  }
}
